# Python virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc

# Django stuff
db.sqlite3
media/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db